[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.2.4"
asgiref = "==3.7.2"
django-stubs = "==4.2.3"
django-stubs-ext = "==4.2.2"
gunicorn = "==21.2.0"
mypy = "==1.5.0"
mypy-extensions = "==1.0.0"
packaging = "==23.1"
sqlparse = "==0.4.4"
types-pytz = "==2023.3.0.0"
types-pyyaml = "==6.0.12.11"
typing-extensions = "==4.7.1"
whitenoise = "==6.5.0"

[dev-packages]

[requires]
python_version = "3.11"
